.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.item-input {
  width: 100%;
  box-sizing: border-box;
  height: 42px;
  font-size: 18px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px 14px;
}

.item-input:invalid {
  color: red;
  border: 1px solid red;
}

.password-checkbox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.item-checkbox {
  width: 18px;
  height: 18px;

  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: white;

  cursor: pointer;
}

.checkbox-active {
  background: url("../../../assets/svg/checked.svg") no-repeat;
  background-size: 100%;
}

.btn {
  position: relative;

  width: 100%;
  height: 41px;
  padding: 4px;

  font-size: 18px;
  font-weight: 400;
  text-align: center;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.btn:hover {
  background-color: var(--hover-color);
}

.social-button::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;

  margin: auto;
  display: block;

  content: "";
}

.login--message {
  color: var(--alert-color);
}

.login-button {
  border-color: #f56932;
  background-color: #f56932;
  color: white;
}

.forgot-link {
  font-size: 14px;

  text-decoration-line: underline;

  color: #f56932;
}
