/* ЭТОТ ХИДЕР НЕРАБОЧИЙ !!! */

/*.simple_header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 20px;
  position: relative;
}

.logo {
  cursor: pointer;
  background: url("../../assets/img/masterpage_sprite.png") no-repeat 0 0;
  width: 167px;
  height: 30px;
}

.lang-ico {
  background: url("../../assets/img/inverse_globe.webp") no-repeat;
  height: 16px;
  margin-right: 7px;
  width: 16px;
}

.nav {
  position: relative;
  z-index: 1;
}

.nav-list {
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 0.5vw);
  color: white;
  transition-duration: 0.25s;
}

.nav-item:last-child {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 2rem;
}

.nav-item a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.burger {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.line1 {
  transform: rotate(0);
  margin-top: 5px;
  transition: all 0.3s ease;
}

.line2 {
  opacity: 1;
  transition: all 0.3s ease;
}

.line3 {
  transform: rotate(0);
  margin-top: 5px;
  transition: all 0.3s ease;
}

.burger.open .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open .line2 {
  opacity: 0;
}

.burger.open .line3 {
  transform: rotate(-45deg) translate(6px, -6px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.overlay-active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

@media screen and (max-width: 768px) {
  .overlay-active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  .nav-item {
    width: 80px;
  }

  .nav-list {
    overflow: hidden;
    display: none;
    cursor: auto;
    z-index: -1;
    width: 40vw;
    height: auto;
    background: #282828;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px 30px;
    gap: 10px;
  }

  .burger {
    display: block;
    z-index: 1;
  }

  .nav-list {
    font-size: calc(1.2rem + 0.3vw);
  }

  @keyframes showNav {
    0% {
      width: 10vw;
    }
    100% {
      width: 40vw;
    }
  }

  .show {
    animation: showNav 0.7s ease forwards;
    display: flex;
  }
}*/
