.simple_header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 20px;
  position: relative;
}

.logo {
  cursor: pointer;
  background: url("../../assets/img/masterpage_sprite.png") no-repeat 0 0;
  width: 167px;
  height: 30px;
}

.lang-ico {
  background: url("../../assets/img/inverse_globe.webp") no-repeat;
  height: 16px;
  margin-right: 7px;
  width: 16px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 0.5vw);
}

.nav-item:last-child {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 2rem;
}

.nav-item a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
